* {
    margin: 0;
    padding: 0;

}

.bodd {
    background-color: rgb(228, 228, 228);
     width: 100vw; 
}

/* i style the div holding the div with our content */

.holdflex1 {
    display: flex;
    
    width: 100vw;
}


.holdflex2 {
    display: flex;
 
    width: 100vw;
}

.holdflex3 {
    display: flex;
   
    width: 100vw;
}


.holdflex4 {
    display: flex;
    
    width: 100vw;
}

.holdflex5 {
    display: flex;
    
    width: 100vw;
}

.holdflex6 {
    display: flex;

    width: 100vw;
}

.holdflex7 {
    display: flex;
   
    width: 100vw;
}

/* end of the body holder */

/* styling the first frontend mentor mentor */



.feed {
    background-image: linear-gradient(blue, red,blue);
    width: 300px;
    height: 150px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 10px;
    color: white;

}

#font {
    padding-top: 50px;
    padding-left: 20px;
}

#font1 {
    padding-top: 20px;
    padding-left: 20px;

}

/* still on the dasboard */
/* styling the second part of the Dasbord */
.feed1 {
    background-color: rgb(252, 252, 252);
    width: 300px;
    height: 180px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 9px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

.idm {
    grid-column: 1/span 2;
    margin: 20px 20px;
}
.idm1{
    background-color:rgb(236, 235, 234);
    color:blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}




.idn {
   
    color: rgb(250, 245, 245);
    margin: 20px 20px;
}

.idn1{
    background-color: blue;
    color:rgb(236, 235, 234);
    border-style: none;
    width: 40px;
    height: 20px;
    border-radius: 4px;
}

.idv {

    margin: 20px 20px;
}

.idv1{
    background-color:rgb(236, 235, 234);
    color:blue;
    border-style: none;
    width: 40px;
    height: 20px;
    border-radius: 4px;
}

.idk {
   
    margin: 20px 20px;
}

.idk1{
    background-color:rgb(236, 235, 234);
    color:blue;
    border-style: none;
    width: 40px;
    height: 20px;
    border-radius: 4px;
}

.ido {
    margin: 20px 20px;
}

.ido1{
    background-color:rgb(236, 235, 234);
    color:blue;
    border-style: none;
    width: 40px;
    height: 20px;
    border-radius: 4px;
}
.idg{

    margin-left: 20px;
}

.idg1{
    background-color:rgb(236, 235, 234);
    color:blue;
    border-style: none;
    width: 40px;
    height: 20px;
    border-radius: 4px;
}
/* still on the dasbord */
/* styling the last part of the dasboard */

.feed2 {
    background-color: rgb(252, 252, 252);
    width: 300px;
    height: 190px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 6px;

}

h3 {
    margin-top: 15px;
}

ul {
    list-style: none;
    margin-left: 30px;
    margin-top: 20px;

}

li {
    color: rgb(133, 134, 134);

}

li:before {
    content: "• ";
    padding-right: 5px;
    color: green;
  }
  
  li:nth-child(1):before {
    color: green;
  }
  
  li:nth-child(2):before {
    color: red;
  }
  
  li:nth-child(3):before {
    color: blue;
  }
.plan4 {
    margin-left: 150px;
    font-size: 20px;
    color: rgb(122, 122, 214);
    text-decoration: dotted;
}

.plan1 {
    margin-left: 230px;
    color: black;
}

.plan2 {
    margin-left: 230px;
    color: black;
}

.plan3 {
    margin-left: 200px;
    color: black;
}

/* end of the dasbord */



/* styling the main body of the page */

/* 1. styling the first main body */

.dome1 {
    width: 800px;
    height: 70px;
    margin-top: 40px;
    background-color: rgb(2, 5, 54);
    color: white;
    margin-left: 100px;
    /* padding-top: 20px; */
    border-radius: 5px;
}

.ba {
    margin-left: 5px;
}

.bb {

    margin-left: 20px;
}

.bc {
    margin-left: 50px;
    color: rgb(180, 177, 177);
}

.bd {
    margin-left: 220px;
    width: 200px;
    height: 30px;
    background-color: rgb(224, 19, 214);
    color: white;
    border-style: none;
    border-radius: 5px;
}

/* the end */



/* 2. styling the part two */
.dome2 {

    width: 800px;
    height: 100px;
    background-color: rgb(252, 252, 252);
    margin-left: 100px;
    border-radius: 4px;
    display: inline-flex;

}

p {
    margin-top: 20px;
}

.ca {
    margin-top: 30px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}



.cb {
    margin-top: 20px;
    margin-left: 50px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cd {

    margin-left: 50px;
    color: rgb(177, 177, 177);
}

.cc {

    margin-left: 50px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;

}

.ce {
    margin-top: 30px;
    margin-left: 300px;
}

/* the end of the styling  */

/* continue stying the main page  */

.dome3 {

    width: 800px;
    height: 100px;
    background-color: rgb(252, 252, 252);
    margin-left: 100px;
    display: inline-flex;

}

.da {
    margin-top: 33px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}


.db {
    margin-top: 20px;
    margin-left: 50px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.dc {
    margin-left: 50px;
    color: rgb(177, 177, 177);


}

.dd {
    margin-left: 50px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}

.de {
    margin-top: 30px;
    margin-left: 250px;
    
}

/* the end of the styling.... */

/* stying anothe part of the main page  */
.dome4 {

    width: 800px;
    height: 100px;
    background-color: rgb(252, 252, 252);
    margin-left: 500px;
    display: inline-flex;

}

.ea {
    margin-top: 30px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}


.eb {
    margin-top: 20px;
    margin-left: 50px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ec {
    margin-left: 50px;
    color: rgb(177, 177, 177);
}

.ed {
    margin-left: 50px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}

.ee {
    margin-top: 30px;
    margin-left: 300px;
}

/* end of the styling  */

/* styling another part of the main page  */
.dome5 {

    width: 800px;
    height: 100px;
    background-color: rgb(252, 252, 252);
    margin-left: 500px;
    margin-top: 100px;
    display: inline-flex;

}


.fa {
    margin-top: 30px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}



.fb {
    margin-top: 20px;
    margin-left: 50px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fc {
    margin-left: 50px;
    color: rgb(177, 177, 177);
}

.fd {
    margin-left: 50px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}

.fe {
    font-size: small;
    margin-top: 30px;
    margin-left: 300px;
}

/* the end of the styling..... */

/* stying another part of the page  */

.dome6 {

    width: 800px;
    height: 100px;
    background-color: rgb(252, 252, 252);
    margin-left: 500px;
    margin-top: 100px;
    display: inline-flex;

}

.ga {
    margin-top: 30px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}


.gb {
    margin-top: 20px;
    margin-left: 50px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gc {
    margin-left: 50px;
    color: rgb(177, 177, 177);
}

.gd {
    margin-left: 50px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}

.ge {
    margin-top: 30px;
    margin-left: 300px;
}

/* the end of the styling of the this part of the page  */

/* styling another part of the page  */

.dome7 {

    width: 800px;
    height: 100px;
    background-color: rgb(252, 252, 252);
    margin-left: 500px;
    margin-top: 100px;
    display: inline-flex;

}

.ha {
    margin-top: 30px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}


.hb {
    margin-top: 20px;
    margin-left: 50px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hc {
    margin-left: 50px;
    color: rgb(177, 177, 177);
}


.hd {
    margin-left: 50px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}

.he {
    margin-top: 30px;
    margin-left: 300px;
}


/* styling  a tablet  */
@media screen and (max-width: 1000px) {
    
    
.bodd {
    background-color: rgb(228, 228, 228);
     width: 100vw; 
}


.holdflex1 {
    display: flex;
    /* background-color: aqua; */
    width: 100vw;
}


.holdflex2 {
    display: flex;
     

    width: 100vw;
}

.holdflex3 {
    display: flex;
    
    width: 100vw;
}


.holdflex4 {
    display: flex;

    width: 100vw;
}

.holdflex5 {
    display: flex;
   
    width: 100vw;
}

.holdflex6 {
    display: flex;
  
    width: 100vw;
}

.holdflex7 {
    display: flex;
    width: 100vw;
}


.feed {
    background-color: rgba(255, 0, 191, 0.733);
    width: 150px;
    height: 100px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 10px;
    color: white;

}

#font {
    padding-top: 5px;
    padding-left: 5px;
}

#font1 {
    padding-top: 5px;
    padding-left: 5px;

}



.dome1 {
    width: 500px;
    height: 70px;
    margin-top: 40px;
    background-color: rgb(2, 5, 54);
    color: white;
    margin-left:30px;
   
    border-radius: 5px;
}

.ba {
    margin-left: 5px;
}

.bb {

    margin-left: 20px;
}

.bc {
    margin-left: 50px;
    color: rgb(180, 177, 177);
}

.bd {
    margin-left: 50px;
    width: 100px;
    height: 30px;
    background-color: rgb(224, 19, 214);
    color: white;
    border-style: none;
    border-radius: 5px;
}


.feed1 {
    background-color: rgb(252, 252, 252);
    width: 150px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 9px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

.idm {
    grid-column: 1/span 2;
    margin: 5px 5px;
}
.idm1{
    background-color:rgb(236, 235, 234);
    color:blue;
    border-style: none;
    width: 90px;
    height: 20px;
    border-radius: 4px;
}




.idn {
   
    color: rgb(250, 245, 245);
    margin: 5px 5px;
}

.idn1{
    background-color: blue;
    color:rgb(236, 235, 234);
    border-style: none;
    width: 40px;
    height: 20px;
    border-radius: 4px;
}

.idv {

    margin: 5px 5px;
}

.idv1{
    background-color:rgb(236, 235, 234);
    color:blue;
    border-style: none;
    width: 40px;
    height: 20px;
    border-radius: 4px;
}

.idk {
   
    margin: 5px 5px;
}

.idk1{
    background-color:rgb(236, 235, 234);
    color:blue;
    border-style: none;
    width: 40px;
    height: 20px;
    border-radius: 4px;
}

.ido {
    margin: 5px 5px;
}

.ido1{
    background-color:rgb(236, 235, 234);
    color:blue;
    border-style: none;
    width: 40px;
    height: 20px;
    border-radius: 4px;
}
.idg{

    margin-left: 5px;
}

.idg1{
    background-color:rgb(236, 235, 234);
    color:blue;
    border-style: none;
    width: 40px;
    height: 20px;
    border-radius: 4px;
}


/* styling the body of thr page */
.dome2 {

    width: 500px;
    height: 120px;
    background-color: rgb(252, 252, 252);
    margin-left: 30px;
    border-radius: 4px;
    display: inline-flex;
    margin-top: 35px;

}

p {
    margin-top: 20px;
}

.ca {
    margin-top: 30px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}



.cb {
    margin-top: 20px;
    margin-left: 10px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cd {

    margin-left: 10px;
    color: rgb(177, 177, 177);
}

.cc {

    margin-left: 10px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;

}

.ce {
    margin-top: 40px;
    margin-left: 40px;
}

/* style another dasboard */



.feed2 {
    background-color: rgb(252, 252, 252);
    width: 150px;
    height: 190px;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 6px;

}

h3 {
    margin-top: 15px;
}

ul {
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;

}

li {
    color: rgb(133, 134, 134);

}

li:before {
    content: "• ";
    padding-right: 5px;
    color: green;
  }
  
  li:nth-child(1):before {
    color: green;
  }
  
  li:nth-child(2):before {
    color: red;
  }
  
  li:nth-child(3):before {
    color: blue;
  }

.plan4 {
    margin-left: 4px;
    font-size: 20px;
    color: rgb(122, 122, 214);
    text-decoration: dotted;
}

.plan1 {
    margin-left: 35px;
    color: black;
}

.plan2 {
    margin-left:12px;
    color: black;
}

.plan3 {
    margin-left: 80px;
    color: black;
}

/* styling the main body  */



.dome3 {

    width: 500px;
    height: 100px;
    background-color: rgb(252, 252, 252);
    margin-left: 25px;
    margin-top: 20px;
    display: inline-flex;

}

.da {
    margin-top: 33px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}


.db {
    margin-top: 20px;
    margin-left: 8px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.dc {
    margin-left: 8px;
    color: rgb(177, 177, 177);


}

.dd {
    margin-left: 20px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}

.de {
    margin-top: 30px;
    margin-left: 22px;
    
}


.dome4 {

    width: 500px;
    height: 100px;
    background-color: rgb(252, 252, 252);
    margin-left: 200px;
    display: inline-flex;

}

.ea {
    margin-top: 30px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}


.eb {
    margin-top: 20px;
    margin-left: 10px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ec {
    margin-left: 10px;
    color: rgb(177, 177, 177);
}

.ed {
    margin-left: 20px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}

.ee {
    margin-top: 30px;
    margin-left: 30px;
}


/* stying another part of the main site */
.dome5 {

    width: 500px;
    height: 100px;
    background-color: rgb(252, 252, 252);
    margin-left: 200px;
    margin-top: 100px;
    display: inline-flex;

}


.fa {
    margin-top: 30px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}



.fb {
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fc {
    margin-left: 20px;
    color: rgb(177, 177, 177);
}

.fd {
    margin-left: 20px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}

.fe {
    font-size: small;
    margin-top: 30px;
    margin-left: 30px;
}


/* styling another part of the web page */

.dome6 {

    width: 500px;
    height: 100px;
    background-color: rgb(252, 252, 252);
    margin-left: 200px;
    margin-top: 100px;
    display: inline-flex;

}

.ga {
    margin-top: 30px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}


.gb {
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gc {
    margin-left: 20px;
    color: rgb(177, 177, 177);
}

.gd {
    margin-left: 20px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}

.ge {
    margin-top: 30px;
    margin-left: 30px;
}


/* the last part of thr page */

.dome7 {

    width: 500px;
    height: 100px;
    background-color: rgb(252, 252, 252);
    margin-left: 200px;
    margin-top: 100px;
    display: inline-flex;

}

.ha {
    margin-top: 30px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}


.hb {
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hc {
    margin-left: 20px;
    color: rgb(177, 177, 177);
}


.hd {
    margin-left: 20px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}

.he {
    margin-top: 30px;
    margin-left: 30px;
}

}

/* for mobile phone  */

@media screen  and (max-width: 400px) {
    .bodd {
        background-color: rgb(228, 228, 228);
    
    }
    .holdflex1 {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    
    
    .holdflex2 {
        display: flex;
        flex-direction: column;

        width: 100vw;
    }
    
    .holdflex3 {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    
    
    .holdflex4 {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    
    .holdflex5 {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    
    .holdflex6 {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    
    .holdflex7 {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    /* stying the dasboard */

    

.feed {
    background-color: rgba(255, 0, 191, 0.733);
    width: 320px;
    height: 150px;
    margin-top: 50px;
    margin-left: 15px;
    border-radius: 10px;
    color: white;

}

#font {
    padding-top: 10px;
    padding-left: 15px;
}

#font1 {
    padding-top: 10px;
    padding-left: 15px;

}


/* styin the header part of the up side */



.dome1 {
    width:320px;
    height: 90px;
    margin-top:70px;
    background-color: rgb(2, 5, 54);
    color: white;
    margin-left: 15px;
    border-radius: 5px;
}

.ba {
    margin-left: 5px;
}

.bb {
    display: none;

    margin-left: 5px;
}

.bc {
    display: none;
    margin-left: 5px;
    color: rgb(180, 177, 177);
}

.bd {
    margin-top: 13px;
    width: 100px;
    height: 30px;
    background-color: rgb(224, 19, 214);
    color: white;
    border-style: none;
    border-radius: 5px;
}



/* want to style the second part of the dasboard */



.feed1 {
    background-color: rgb(252, 252, 252);
    width: 320px;
    height: 200px;
    margin-top: 30px;
    margin-left: 15px;
    border-radius: 9px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

.idm {
    grid-column: 1/span 2;
    margin: 5px 5px;
}
.idm1{
    background-color:rgb(236, 235, 234);
    color:blue;
    border-style: none;
    width: 90px;
    height: 20px;
    border-radius: 4px;
}

.idn {
   
    color: rgb(250, 245, 245);
    margin: 5px 5px;
}

.idn1{
    background-color: blue;
    color:rgb(236, 235, 234);
    border-style: none;
    width: 40px;
    height: 20px;
    border-radius: 4px;
}

.idv {

    margin: 5px 5px;
}

.idv1{
    background-color:rgb(236, 235, 234);
    color:blue;
    border-style: none;
    width: 40px;
    height: 20px;
    border-radius: 4px;
}

.idk {
   
    margin: 5px 5px;
}

.idk1{
    background-color:rgb(236, 235, 234);
    color:blue;
    border-style: none;
    width: 40px;
    height: 20px;
    border-radius: 4px;
}

.ido {
    margin: 5px 5px;
}

.ido1{
    background-color:rgb(236, 235, 234);
    color:blue;
    border-style: none;
    width: 40px;
    height: 20px;
    border-radius: 4px;
}
.idg{

    margin-left: 5px;
}

.idg1{
    background-color:rgb(236, 235, 234);
    color:blue;
    border-style: none;
    width: 40px;
    height: 20px;
    border-radius: 4px;
}

/* styling the part of the site */


.dome2 {

    width: 320px;
    height: 150px;
    background-color: rgb(252, 252, 252);
    margin-left: 15px;
    border-radius: 4px;
    display: inline-flex;
    text-align: center;
    margin-top: 35px;

}

p {
    margin-top: 20px;
}

.ca {
    margin-top: 80px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}



.cb {
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cd {

    margin-left: 20px;
    color: rgb(177, 177, 177);
}

.cc {

    margin-left: 10px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;

}

.ce {
    margin-top: 80px;
    margin-left: 5px;
}




.feed2 {
    background-color: rgb(252, 252, 252);
    width: 130px;
    height: 190px;
    margin-top: 50px;
    margin-left: 5px;
    border-radius: 6px;

}

h3 {
    margin-top: 15px;
    font-size: 20px;
}

ul {
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;

}

li {
    color: rgb(133, 134, 134);

}

li:before {
    content: "• ";
    padding-right: 5px;
    color: green;
  }
  
  li:nth-child(1):before {
    color: green;
  }
  
  li:nth-child(2):before {
    color: red;
  }
  
  li:nth-child(3):before {
    color: blue;
  }
.plan4 {
    margin-left: 4px;
    font-size: 10px;
    color: rgb(122, 122, 214);
    text-decoration: dotted;
}

.plan1 {
    margin-left: 5px;
    color: black;
}

.plan2 {
    margin-left:2px;
    color: black;
}

.plan3 {
    margin-left: 10px;
    color: black;
}



.dome3 {

    width: 320px;
    height: 150px;
    background-color: rgb(252, 252, 252);
    margin-left: 15px;
    margin-top: 20px;
    text-align: center;
    display: inline-flex;

}

.da {
    margin-top: 80px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}


.db {
    margin-top: 20px;
    margin-left: 8px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.dc {
    margin-left: 8px;
    color: rgb(177, 177, 177);


}

.dd {
    margin-left: 20px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}

.de {
    margin-top: 80px;
    margin-left: 22px;
    
}
    


.dome4 {

    width: 320px;
    height: 150px;
    background-color: rgb(252, 252, 252);
    margin-left: 19px;
    margin-top: 20px;
    text-align: center;
    display: inline-flex;

}

.ea {
    margin-top: 80px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}


.eb {
    margin-top: 20px;
    margin-left: 15px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ec {
    margin-left: 10px;
    color: rgb(177, 177, 177);
}

.ed {
    margin-left: 20px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}

.ee {
    margin-top: 80px;
    margin-left: 30px;
}



.dome5 {

    width: 320px;
    height: 150px;
    background-color: rgb(252, 252, 252);
    margin-left: 19px;
    margin-top: 20px;
    text-align: center;
    display: inline-flex;

}


.fa {
    margin-top: 80px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}



.fb {
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fc {
    margin-left: 20px;
    color: rgb(177, 177, 177);
}

.fd {
    margin-left: 20px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}

.fe {
    font-size: small;
    margin-top: 80px;
    margin-left: 30px;
}



.dome6 {

    width: 320px;
    height: 150px;
    background-color: rgb(252, 252, 252);
    margin-left: 19px;
    margin-top: 20px;
    text-align: center;
    display: inline-flex;

}

.ga {
    margin-top: 80px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}


.gb {
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gc {
    margin-left: 20px;
    color: rgb(177, 177, 177);
}

.gd {
    margin-left: 20px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}

.ge {
    margin-top: 80px;
    margin-left: 30px;
}


.dome7 {

    width: 320px;
    height: 150px;
    background-color: rgb(252, 252, 252);
    margin-left: 19px;
    margin-top: 20px;
    text-align: center;
    display: inline-flex;

}

.ha {
    margin-top: 80px;
    margin-left: 5px;
    background-color: rgb(236, 235, 234);
    height: 30px;
}


.hb {
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hc {
    margin-left: 20px;
    color: rgb(177, 177, 177);
}


.hd {
    margin-left: 20px;
    background-color: rgb(236, 235, 234);
    color: blue;
    border-style: none;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}

.he {
    margin-top: 80px;
    margin-left: 30px;
}


}


